body{
	background: white;
	margin: 0px;
}

img{
	width: 100%; 
	height: auto;
}

.wrapper{
	position: relative;
	margin: 0px auto 40px;
	width: 960px; 
}

.wrapper-shadow{
	-webkit-box-shadow: 5px 7px 0px 1px rgba(222,219,222,1);
	-moz-box-shadow: 5px 7px 0px 1px rgba(222,219,222,1);
	box-shadow: 5px 7px 0px 1px rgba(222,219,222,1);
	border: 1px solid #777777;
}

.container-header{
	position: relative;
	background: white;
	height: 90px;
	width: 170px;
	margin: 10px auto 10px;
}

.nav-link{
	display: inline-block;
	width: 70px; 
	margin: 0px 5px;
	cursor: pointer;
}

.nav-logo{
	height: 55px;
}

.container-footer{
	position: relative;
	background: #E7E9EC;
	height: 80px;
}

.container-diary{
	position: relative;
	padding: 0px;
	margin: 0px;
	background: white;
}

.container-post{
	position: absolute;
	padding: 30px 0px;
	margin: 0px;
	width: 478px; 
	height: auto;
	border-top: none;
	border-bottom: 1px solid #E7E9EC;
	opacity: 0;
	transition: opacity 600ms ease;
}

.post{
	margin: 0px auto;
	padding: 0px;
	width: 420px; 
}

.post-title-img{
	margin: 0px 0px 20px;
}

.post-title{
	color: #333;
	font-size: 28px;
}

.post-content{
	color: #666;
	font-size: 16px;
}

#columns-separator{
	position: absolute;
	z-index: 12;
	top: 0px;
	bottom: 0px;
	left: 50%;
	width: 1px;
	background: #E7E9EC;
}




