@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css");

body{
	background: white;
	margin: 0px;
}

.f_left{
	float: left;
}

.f_right{
	float: right;
}

.c-center{
	position: relative;
	margin: 0 auto;
	width: 860px;
}

.c-header-height{
	height: 277px;
}

.c-header{
	background: url('/imgs/header_bar.jpg');
	width: 100%;
}

.c-content{
	margin-bottom: 100px;
}

.c-admin{
	height: 20px;
}

.c-inline{
	display: inline-block;
}

.header-bar-c-links{
	margin: 109px 0 104px;
	width: 320px;
	height: 64px;
}

.header-bar-c-center{
	margin: 109px 0 104px;
	width: 220px;
	height: 64px;
}

.header-bar-link{
	color: #304989;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 20px 42px;
}

.header-bar-logo{
	position: absolute;
	top: 25px;
	left: 315px;
	width: 215px;
	height: 219px;
}

a:hover{
    text-decoration: none;
}

/* unvisited link */
.header-bar-link a:link {
    color: #304989;
}

/* visited link */
.header-bar-link a:visited {
    color: #304989;
}

/* mouse over link */
.header-bar-link a:hover {
    text-decoration: none;
    color: #052977;
}

/* selected link */
.header-bar-link a:active {
    color: #304989;
}

.separater{
	width: 100%;
	height: 2px;
	margin: 10px 0px;
	border-bottom: 1px solid #B5AC86;
}